 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BODY FIX */
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 60px;
    background: #1f2933;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #FACC15;
}

.nav-links {
    display: flex;
    gap: 26px;
    list-style: none;
}

.nav-links a {
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #FACC15;
}

.btn-nav {
    /* background: #FACC15; */
    color: #111827;
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: 600;
}

/* MAIN FIX */
.main {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

/* DASHBOARD */
.dashboard {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 25px;
}

/* PROFILE CARD */
.profile-card {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    color: white;
}

.image-box {
    position: relative;
    width: 130px;
    margin: auto;
}

.image-box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid white;
}

.upload-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #4CAF50;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.profile-card button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
}

.field {
    margin-bottom: 15px;
}

.field span {
    font-size: 13px;
    color: gray;
}

.field input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 8px 5px;
}

#saveBtn {
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    background: #667eea;
    color: white;
    border: none;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.stat-box {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.stat-box h1 {
    color: #667eea;
}
