{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">TaskManager</div>
    <ul class="nav-links">
       <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'taskcreate' %}">Tasks</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'profile' %}" >Profile</a></li>
    </ul>
</nav>
<main class="main">
    <div class="dashboard-container">

        <!-- PROFILE CARD -->
        <aside class="profile-card">
            <div class="image-box">
                <img id="profilePic" src="https://i.imgur.com/6VBx3io.png">
                <input type="file" id="upload" hidden>
                <label for="upload" class="upload-btn">Change</label>
            </div>

            <h2>{{ request.user.name|default:"User" }}</h2>
            <p class="email">{{ request.user.email }}</p>

            <a href="#" id="editBtn">Edit Profile</a>
        </aside>

        <!-- CONTENT -->
        <section class="content">

            <div class="card">
                <h3>Personal Information</h3>

                <div class="field">
                    <label>Full Name</label>
                    <input value="{{ request.user.name }}" disabled>
                </div>

                <div class="field">
                    <label>Email</label>
                    <input value="{{ request.user.email }}" disabled>
                </div>

                <div class="field">
                    <label>Phone</label>
                    <input value="{{ request.user.phone|default:'Not set' }}" disabled>
                </div>

                <button id="saveBtn" type="submit" disabled>Save Changes</button>
            </div>

            <div class="stats">
                <div class="stat-box">
                    <h1>{{ totaltask }}</h1>
                    <p>Total Tasks</p>
                </div>
                <div class="stat-box">
                    <h1>{{ completetask }}</h1>
                    <p>Completed</p>
                </div>
                <div class="stat-box">
                    <h1>{{ pendingtask }}</h1>
                    <p>Pending</p>
                </div>
            </div>

        </section>
    </div>
</main>
<footer class="footer">
    <p>© 2026 TaskManager | Built with Django ❤️</p>
</footer>

<script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
