{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-footer.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}    
    <form>
    <button type=submit>Registration</button>
    <p class="signin-link">
        Already Register ? <a href="{% url 'login' %}">Login in</a>
    </p>

    <script src="{% static 'js/registration.js' %}"></script>
{% include 'footer.html' %}