{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">TaskManager</div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'taskcreate' %}">Tasks</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>

    <div class="login-container">
        <h2>User Login</h2>

        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Login</button>
        </form>

        <p class="signup-link">
            Don’t have an account? <a href="{% url 'register' %}">Sign Up</a>
        </p>
    </div>

    <!-- JS -->
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
